* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inconsolata, monospace;
}
.divider-container {
    display: flex;
    background-color: #353544;
    justify-content: center;
}

.divider{
  justify-self: center;
  height: 100%;
  width: 95%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}